site_name: Patrix
site_description: A python package that uses a compressed prefix tree (aka trie or radix tree) to store a dictionary of 'correct' words and provides suggestions to complete partial words.
site_author: Martin Beroiz
site_url: https://github.com/martinberoiz/patrix
repo_name: patrix
repo_url: https://github.com/martinberoiz/patrix

theme:
  name: material_igwn
  features:
    - navigation.sections
    - navigation.expand
    - navigation.top
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            docstring_style: numpy
            show_source: true
            show_root_heading: true
            show_root_toc_entry: true
            show_root_full_path: false
            show_object_full_path: false
            show_category_heading: true
            show_if_no_docstring: false
            separate_signature: true
            heading_level: 2

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Installation: install.md
  - Usage: usage.md
  - API Reference:
    - Trie: api/trie.md
    - Radix Tree: api/radix.md


copyright: Copyright &copy; 2025 California Institute of Technology and contributors
